@page
@model Bank.Pages.Accounts.TransactionModel
@{
    ViewData["Title"] = "Transaction";
}

<head>
    <link href="~/css/styles.css" rel="stylesheet" />
</head>


<section class="signup-section" id="signup">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 d-flex justify-content-center">

            <div class="card w-75">

                <div class="card-header mt-2 text-center">
                    <h1>Transfer from account No: @Model.FromAccount</h1>
                </div>

                <div class="card-body">

                    <div class="mb-3 mt-1">
                        <partial name="_BackPartial" />
                    </div>

                    <div class="text-center">       
                        <h5>Balance: @Model.Balance</h5>
                    </div>

                    <div class="card-body">

                        <form method="post">


                            <div class="form-group mb-2">
                                <label asp-for="ToAccount">Receiving Account</label>
                                <input asp-for="ToAccount"
                                       class="form-control" />
                                <span asp-validation-for="ToAccount"
                                      class="text-danger">
                                </span>
                            </div>

                            <div class="form-group mb-2">
                                <label asp-for="Amount">Amount</label>
                                <input class="form-control"
                                       asp-for="Amount" />
                                <span class="text-danger"
                                      asp-validation-for="Amount">
                                </span>
                            </div>

                            <div class="form-group mb-2">
                                <label asp-for="TransactionDate">Date</label>
                                <input class="form-control"
                                       asp-for="TransactionDate" />
                                <span class="text-danger"
                                      asp-validation-for="TransactionDate">
                                </span>
                            </div>

                            <div class="form-group mb-2">
                                <label asp-for="Comment">Comment</label>
                                <input asp-for="Comment"
                                       placeholder="Please insert comment here"
                                       class="form-control" />
                                <span class="text-danger"
                                      asp-validation-for="Comment">
                                </span>
                            </div>
                            <div class="d-flex justify-content-center mt-2">
                                <button type="submit" class="mt-2 btn btn-primary">Transfer</button>
                            </div>
                            
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
    }
