@page
@model Bank.Pages.Customers.EditCustomerModel
@{
    ViewData["Title"] = "Edit Customer";
}

<head>
    <link href="~/css/styles.css" rel="stylesheet" />
</head>

<section class="signup-section" id="signup">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 d-flex justify-content-center">

            <div class="card w-75">

                <div class="card-header mt-2 text-center">
                    <h1>@ViewData["Title"]</h1>
                </div>
                <div class="card-body">

                
                        <div class="mb-3 mt-1">
                            <partial name="_BackPartial" />
                        </div>
                


                    <div class="card-body">
                        <form method="post">

                            <div class="form-group mb-2">
                                <label asp-for="Gender">Gender</label>
                                <select class="form-control"
                                        asp-for="Gender"
                                        asp-items="@Model.Genders">
                                    <option value="">-- Select gender --</option>
                                </select>
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>

                            <div class="form-group mb-2">
                                <label asp-for="Givenname">First name</label>
                                <input class="form-control"
                                       placeholder="Insert first name here"
                                       asp-for="Givenname">
                                <span asp-validation-for="Givenname"
                                      class="text-danger"></span>
                            </div>

                            <div class="form-group mb-2">
                                <label asp-for="Surname">Last name</label>
                                <input class="form-control"
                                       placeholder="Insert last name here"
                                       asp-for="Surname">
                                <span asp-validation-for="Surname"
                                      class="text-danger"></span>
                            </div>

                            <div class="form-group mb-2">
                                <label asp-for="Streetaddress">Street address</label>
                                <input class="form-control"
                                       placeholder="Insert street address here"
                                       asp-for="Streetaddress">
                                <span asp-validation-for="Streetaddress"
                                      class="text-danger"></span>
                            </div>
                            <div class="form-group mb-2">
                                <label asp-for="Zipcode">Zip code</label>
                                <input class="form-control"
                                       placeholder="Insert zip code here"
                                       asp-for="Zipcode">
                                <span asp-validation-for="Zipcode"
                                      class="text-danger"></span>
                            </div>
                            <div class="form-group mb-2">
                                <label asp-for="City">City</label>
                                <input class="form-control"
                                       placeholder="Insert city here"
                                       asp-for="City">
                                <span asp-validation-for="City"
                                      class="text-danger"></span>
                            </div>

                            <div class="form-group mb-2">
                                <label asp-for="Country">Country</label>
                                <select class="form-control"
                                        asp-for="Country"
                                        asp-items="@Model.Countries"
                                        onchange="updateTelephoneCountryCode(this.value)">
                                    <option value="">-- Select country --</option>
                                </select>
                                <span asp-validation-for="Country" class="text-danger"></span>
                            </div>

                            <div class="form-group mb-2">
                                <label asp-for="CountryCode">Country Code</label>
                                <input class="form-control"
                                       id="CountryCode"
                                       placeholder="Insert Country Code here"
                                       asp-for="CountryCode">
                                <span asp-validation-for="CountryCode"
                                      class="text-danger"></span>
                            </div>

                            <div class="form-group mb-2">
                                <label asp-for="Birthday">Birth date</label>
                                <input class="form-control"
                                       placeholder="Insert birth date here"
                                       asp-for="Birthday">
                                <span asp-validation-for="Birthday"
                                      class="text-danger"></span>
                            </div>

                            <div class="form-group mb-2">
                                <label asp-for="NationalId">National Id</label>
                                <input class="form-control"
                                       placeholder="Insert national Id here"
                                       asp-for="NationalId">
                                <span asp-validation-for="NationalId"
                                      class="text-danger"></span>
                            </div>

                            <div class="form-group mb-2">
                                <label asp-for="Telephonecountrycode">Telephone country code</label>
                                <input class="form-control"
                                       id="Telephonecountrycode"
                                       placeholder="Insert telephone country code here"
                                       asp-for="Telephonecountrycode">
                                <span asp-validation-for="Telephonecountrycode"
                                      class="text-danger"></span>
                            </div>

                            <div class="form-group mb-2">
                                <label asp-for="Telephonenumber">Telephone number</label>
                                <input class="form-control"
                                       placeholder="Insert telephone number here"
                                       asp-for="Telephonenumber">
                                <span asp-validation-for="Telephonenumber"
                                      class="text-danger"></span>
                            </div>

                            <div class="form-group mb-2">
                                <label asp-for="Emailaddress">Email</label>
                                <input class="form-control"
                                       placeholder="Insert email here"
                                       asp-for="Emailaddress">
                                <span asp-validation-for="Emailaddress"
                                      class="text-danger"></span>
                            </div>

                            <div class="d-flex justify-content-center mt-2">
                                <button type="submit" class="mt-2 btn btn-primary">Save</button>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

@section Scripts
    {
    <partial name="Shared/_ValidationScriptsPartial" />


    <script>
        function updateTelephoneCountryCode(country) {
            const countryCodeInput = document.getElementById('CountryCode');
            const telephoneCountryCodeInput = document.getElementById('Telephonecountrycode');
            const countryData = {
                'Sweden': {
                    'countryCode': 'SE',
                    'telephoneCountryCode': '46'
                },
                'Denmark': {
                    'countryCode': 'DK',
                    'telephoneCountryCode': '45'
                },
                'Norway': {
                    'countryCode': 'NO',
                    'telephoneCountryCode': '47'
                },
                'Finland': {
                    'countryCode': 'FI',
                    'telephoneCountryCode': '358'
                },
            };
            if (country in countryData) {
                countryCodeInput.value = countryData[country]['countryCode'];
                telephoneCountryCodeInput.value = countryData[country]['telephoneCountryCode'];
            } else {
                countryCodeInput.value = '';
                telephoneCountryCodeInput.value = '';
            }
        }
    </script>



}