@page
@model Bank.Pages.Customers.NewCustomerModel
@{
    ViewData["Title"] = "New Customer";
}

<head>
    <link href="~/css/styles.css" rel="stylesheet" />
</head>

<!-- Masthead-->
<header class="masthead pt-5 bg-black">
    <div class="container px-4 d-flex h-auto align-items-center justify-content-center">
        <div class="justify-content-center pt-200">

            <div class="text-center">

                <div class="card">
                    <div class="card-header bg-dark">
                        <h1>Add new Customer</h1>
                    </div>
                    <div class="card-body">
                        <form method="post">

                            <div class="form-group">
                                <label asp-for="Gender">Gender</label>
                                <select class="form-control"
                                        placeholder="Insert gender here"
                                        asp-for="Gender"
                                        asp-items="@Model.Genders">
                                </select>
                                <span asp-validation-for="Gender"
                                      class="text-danger"></span>
                            </div>                                                   

                            <div class="form-group">
                                <label asp-for="Givenname">First name</label>
                                <input class="form-control"
                                       placeholder="Insert first name here" 
                                       asp-for="Givenname">
                                <span asp-validation-for="Givenname"
                                      class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Surname">Last name</label>
                                <input class="form-control"
                                       placeholder="Insert last name here" 
                                       asp-for="Surname">
                                <span asp-validation-for="Surname"
                                      class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Streetaddress">Street address</label>
                                <input class="form-control"
                                       placeholder="Insert street address here" 
                                       asp-for="Streetaddress">
                                <span asp-validation-for="Streetaddress"
                                      class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Zipcode">Zip code</label>
                                <input class="form-control"
                                       placeholder="Insert zip code here" 
                                       asp-for="Zipcode">
                                <span asp-validation-for="Zipcode"
                                      class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="City">City</label>
                                <input class="form-control"
                                       placeholder="Insert city here" 
                                       asp-for="City">
                                <span asp-validation-for="City"
                                      class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="Country">Country</label>

                                <select class="form-control"
                                        asp-for="Country"
                                        asp-items="@Model.Countries"
                                        onchange="updateTelephoneCountryCode(this.value)">
                                    <option value="">-- Select country --</option>
                                </select>

                                <span asp-validation-for="Country"
                                      class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="CountryCode">Country Code</label>
                                <input class="form-control"
                                       id="CountryCode"
                                       placeholder="Insert National Id here"
                                       asp-for="CountryCode">
                                <span asp-validation-for="CountryCode"
                                      class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="Birthday">Birth date</label>
                                <input class="form-control"
                                       placeholder="Insert birth date here" 
                                       asp-for="Birthday">
                                <span asp-validation-for="Birthday"
                                      class="text-danger"></span>
                            </div>
                       
                            <div class="form-group">
                                <label asp-for="NationalId">National Id</label>
                                <input class="form-control"
                                       placeholder="Insert National Id here" 
                                       asp-for="NationalId">
                                <span asp-validation-for="NationalId"
                                      class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Telephonecountrycode">Telephone country code</label>
                                <input class="form-control"
                                       id="Telephonecountrycode"
                                       placeholder="Insert telephone country code here"
                                       asp-for="Telephonecountrycode">
                                <span asp-validation-for="Telephonecountrycode"
                                      class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Telephonenumber">Telephone number</label>
                                <input class="form-control"
                                       placeholder="Insert Telephone number here" 
                                       asp-for="Telephonenumber">
                                <span asp-validation-for="Telephonenumber"
                                      class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Emailaddress">Email</label>
                                <input class="form-control"
                                       placeholder="Insert email here" 
                                       asp-for="Emailaddress">
                                <span asp-validation-for="Emailaddress"
                                      class="text-danger"></span>
                            </div>

                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>
</header>


@section Scripts
    {
    <partial name="Shared/_ValidationScriptsPartial" />


    <script>
        function updateTelephoneCountryCode(country) {
            const countryCodeInput = document.getElementById('CountryCode');
            const telephoneCountryCodeInput = document.getElementById('Telephonecountrycode');
            const countryData = {
                'Sweden': {
                    'countryCode': 'SE',
                    'telephoneCountryCode': '46'
                },
                'Denmark': {
                    'countryCode': 'DK',
                    'telephoneCountryCode': '45'
                },
                'Norway': {
                    'countryCode': 'NO',
                    'telephoneCountryCode': '47'
                },
                'Finland': {
                    'countryCode': 'FI',
                    'telephoneCountryCode': '358'
                },
            };
            if (country in countryData) {
                countryCodeInput.value = countryData[country]['countryCode'];
                telephoneCountryCodeInput.value = countryData[country]['telephoneCountryCode'];
            } else {
                countryCodeInput.value = '';
                telephoneCountryCodeInput.value = '';
            }
        }
    </script>

}


@*
    
<head>
    <link href="~/css/styles.css" rel="stylesheet" />
</head>


<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">

                <div class="card">
                    <div class="card-header bg-dark">
                        <h1>Add new Customer</h1>
                    </div>
                    <div class="card-body">
                        <form method="post">

                           

                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>
</header>
*@
