@page
@model Bank.Pages.Users.CreateUserModel
@{
    ViewData["Title"] = "Create User";
    var successMessage = ViewData["Message"]?.ToString(); //ta bort
}


<head>
    <link href="~/css/styles.css" rel="stylesheet" />
</head>


<!-- Signup-->
<section class="signup-section" id="signup">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">

            <div class="card">
                <div class="card-header mt-2 text-center">
                    <h1>Create new user</h1>
                </div>
                <div class="card-body">
                    @*
                    <form method="post">
                    <div class="mb-3">
                    <label class="form-label">LoginName</label>
                    <input type="text" class="form-control"
                    asp-for="CreateUserRequest.LoginName" />
                    </div>

                    <div class="mb-3">
                    <label class="form-label">FirstName</label>
                    <input type="text" class="form-control"
                    asp-for="CreateUserRequest.FirstName" />
                    </div>

                    <div class="mb-3">
                    <label class="form-label">LastName</label>
                    <input type="text" class="form-control"
                    asp-for="CreateUserRequest.LastName" />
                    </div>

                    @if (!string.IsNullOrWhiteSpace(successMessage))
                    {
                    <div class="alert alert-success" role="alert">
                    @successMessage
                    </div>
                    }

                    <div>
                    <button type="submit" class="btn btn-primary">Save</button>
                    </div>

                    </form>*@

                </div>

                <div class="d-flex justify-content-center">
                    <div class="mb-3">                       
                            <a asp-page="/Users/ReadUsers"
                                class="btn btn-secondary">
                            Back
                        </a>
                    </div>

                </div>

            </div>
        </div>
</section>


@section Scripts
    {
    <partial name="Shared/_ValidationScriptsPartial" />
}