@page
@model Bank.Pages.Users.UpdateUsersModel
@{
    var updateMessage = ViewData["Message"]?.ToString();
}



<head>
    <link href="~/css/styles.css" rel="stylesheet" />
</head>


<section class="signup-section" id="signup">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class=" text-center">

                <div class="card">
                    <div class="card-header mt-2 text-center">
                        <h1>Update User</h1>
                    </div>
                    <div class="card-body">


                        @*
                        <form method="post">

                        <div class="mb-3">
                        <label class="form-label">Id</label>
                        <input type="text" class="form-control"
                        asp-for="UpdateUserVM.Id" readonly />
                        </div>

                        <div class="mb-3">
                        <label class="form-label">Login name</label>
                        <input type="text" class="form-control"
                        asp-for="UpdateUserVM.LoginName" />
                        </div>

                        <div class="mb-3">
                        <label class="form-label">First name</label>
                        <input type="text" class="form-control"
                        asp-for="UpdateUserVM.FirstName" />
                        </div>

                        <div class="mb-3">
                        <label class="form-label">Last name</label>
                        <input type="text" class="form-control"
                        asp-for="UpdateUserVM.LastName" />
                        </div>

                        @if (!string.IsNullOrWhiteSpace(updateMessage))
                        {
                        <div class="alert alert-success" role="alert">
                        @updateMessage
                        </div>
                        }
                        </form>*@

                        <div class="d-flex justify-content-between">
                            <div class="mb-3">
                                <partial name="_BackPartial" />
                            </div>

                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary">
                                    Update
                                </button>
                            </div>

                            <div class="mb-3">
                                <button type="submit" class="btn btn-danger"
                                        asp-page-handler="/Users/DeleteUser">
                                    Delete
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


@section Scripts
    {
    <partial name="Shared/_ValidationScriptsPartial" />
}